body {
	background-color: hsla(210, 100%, 75%, 1.0);
	color: #001f3f;
}

h1 {
	text-align: center;
}

.row {
	margin: 0;
}

.sounds-container {
	text-align: center;
}

.filter-input {
	padding: 1% 1% 1% 1%;
}

.sound-cell-box {
	padding: 0;
}

.sound-cell {
	height: 50px;
	line-height: 50px;
	background-color: #001f3f;
	color: hsla(210, 100%, 75%, 1.0);
	text-transform: uppercase;
	cursor: pointer;
	margin: 1% 1% 1% 1%;
}
